.App {
  text-align: center;
  Button {
    background-color: gray;
  }
}

.mainContainer {
  width: 50%;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #888888;
  background-color: #f0f0f0;

  @media (max-width: 1240px) {
    width: 80%;
  }


  @media (max-width: 800px) {
    width: 100%;
  }

}

.headerComponent {
  padding-top: 10px;
  background-color: #888888;
  height: 80px;
  color: white;
}

.headerComponent h2 {
  margin-top: 0;
  float: left;
  width: 100%;
}

.formComponent {
  padding: 20px;
  height: 80%;
  
  .formErrorSpan {
    color: red;
  }
}

.workshopContainer {
  margin-bottom: 20%;
}
