.App {
  text-align: center;
}

.mainContainer {
  width: 50%;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #888888;
  background-color: #f0f0f0;
}

.headerComponent {
  padding-top: 10px;
  background-color: #888888;
  height: 80px;
  color: white;
}

.headerComponent h2 {
  margin-top: 0;
  float: left;
  width: 100%;
}

.formComponent {
  padding: 20px;
  height: 80%;
  
  .formErrorSpan {
    color: red;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
